$primary_color: #1786D4;
$secondary_color: #14428F;
$buttons_color: #1786D4;
$accent_color: #F8E213;
$alert_color:rgb(231, 0, 0);

$border_color: #e3e3e3;
$text_color_1: #a7a7a7;

$white_color: white;
$bg_gray_color: #fcfcfc;
$bg_white_color: white;


$color_primary: rgb(10, 103, 131);
$color_white: rgb(255, 255, 255);
$color_gray: rgb(143, 143, 143);

//color from table component
$color_warning: hsl(45, 100%, 51%);
$color_blue: hsl(225, 100%, 60%);
$color_green: hsl(134, 61%, 41%);
