.table-container {
    .btn {
        width: 100px;
        color:$white_color;
        text-transform: capitalize;
    }
    .badge {
        margin: 0 auto;
        padding: 10px;
    }
    .badge-status {
        border-radius: 10em;
        width: 80px;
    }
    .badge-warning {
        color: $white_color;
        &:hover {
            background: $color_warning;
            color: $white_color;
        }
    }
    .badge-primary {
        &:hover {
            background: $color_blue;
            color:$white_color;
        }
    }
    .badge-success {
        &:hover {
            background: $color_green;
            color:$white_color;
        }
    }
    .badge-id {
        border-radius: none;
        width: 100%;
    }
    .table {
        text-align: center;
        font-family: sans-serif;
        -webkit-box-shadow: 0 5px 10px $color_shadow;
        box-shadow: 0 5px 10px $color_shadow;
        -webkit-transition: .5s;
        transition: .5s;
        margin: 0 auto;
        font-size: 14px;
        th {
            padding: 15px;
            font-weight: 550;
        }
        td{
          > div{
              height: 45px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
            
            span{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;

            }
          }
          
        }
        .btn {
            color:$white_color;
        }
        .status-warning {
            color:$color_warning;
        }
        .status-primary {
            color:$color_green;
        }
    }
    
    
}